.choice {
    width: 100%;
    min-height: 200px;
    font-size: xx-large;

    background-color: var(--back-mid);
    color: var(--front-high);
    border: solid 1px var(--front-mid);
    border-radius: 5px;

    transition: 0.3s;

    &:hover {
        background-color: var(--back-low);
        color: var(--front);

        transition: 0.2s;
    }
}

.progress-text {
    text-align: center;
}

.previous-button {
    width: 100%;
}

.popover-button {
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.5rem;

    background-color: var(--back-high);
    color: var(--front);
    border: 1px solid var(--mid);
    border-radius: 10px;
    cursor: default;
    transition: 0.2s;

    &:hover {
        background-color: var(--back-mid);
        transition: 0.2s;
    }
}