<div class="row mb-2">
    <div class="col-6">
        <button class="choice" (click)="decisionMade(true)">{{decisionLeft?.value ?? "[ undefined ]"}}</button>
    </div>
    <div class="col-6">
        <button class="choice" (click)="decisionMade(false)">{{decisionRight?.value ?? "[ undefined ]"}}</button>
    </div>
</div>  

<button class="btn btn-outline-secondary previous-button mb-2" [disabled]="sortStepService.decisionsMade === 0" (click)="previousStep()">Previous</button>

<p class="progress-text">{{sortStepService.decisionsMade + 1}} of {{sortStepService.decisionsNeeded}}</p>
<ngb-progressbar type="success" [value]="sortStepService.decisionsMade / sortStepService.decisionsNeeded * 100"></ngb-progressbar>
