<div class="row mb-2">
    <div class="col-6">
        <button class="choice" (click)="decisionLeftMade()">{{decisionLeft?.value ?? "[ undefined ]"}}</button>
    </div>
    <div class="col-6">
        <button class="choice" (click)="decisionRightMade()">{{decisionRight?.value ?? "[ undefined ]"}}</button>
    </div>
</div>  

<button class="btn btn-outline-secondary previous-button mb-2" [disabled]="sortStepService.decisionsMade === 0" (click)="previousStep()">Previous</button>

<p class="progress-text">{{sortStepService.decisionsMade + 1}} of {{sortStepService.decisionsNeeded}}</p>
<ngb-progressbar type="success" [value]="sortStepService.decisionsMade / sortStepService.decisionsNeeded * 100"></ngb-progressbar>

<h4 class="mt-4">Hotkeys</h4>
<p>[ CSS styling to below list coming soon ]</p>
<ul class="hotkeys">
    <li><span class="key">Left</span>: <span class="description">Left decision</span></li>
    <li><span class="key">Right</span>: <span class="description">Right decision</span></li>
    <li><span class="key">Backspace</span>: <span class="description">Previous</span></li>
</ul>