<table class="table">
    <tbody>
        <tr *ngFor="let value of values; let i = index;">
            <app-value-input #valueInput [value]="value" (focusPrevious)="focusElement(i - 1)" (focusNext)="focusElement(i + 1)"></app-value-input>
        </tr>   
    </tbody>
</table>
<button class="btn btn-outline-primary" (click)="addValue()">Add Value</button>
<div class="m-2"></div>
<button class="btn btn-primary mb-2" (click)="onSubmit()">Sort!</button>

<p class="decisions-needed">{{values.length}} element<span *ngIf="values.length !== 1">s</span><span *ngIf="values.length > 1"> | {{sortStepService.getDecisionsNeeded(values.length)}} decision<span *ngIf="sortStepService.getDecisionsNeeded(values.length) !== 1">s</span> needed</span></p>

<h4 class="mt-2">JSON</h4>
<div class="json-tools">
    <button class="btn btn-outline-secondary" (click)="downloadJson()">Download</button>
    <div class="m-1"></div>

    <label for="json-upload" class="file-input">
        Upload
    </label>
    <input type="file" id="json-upload" (change)="uploadJson($event)" accept=".json">
</div>

<h4 class="mt-2">Hotkeys</h4>
<p>[ CSS styling to below list coming soon ]</p>
<ul class="hotkeys">
    <li><span class="key">Home</span>: <span class="description">Focus first value</span></li>
    <li><span class="key">End</span>: <span class="description">Focus last value</span></li>
    <li><span class="key">Up</span>: <span class="description">Focus value above</span></li>
    <li><span class="key">Down</span>: <span class="description">Focus value below</span></li>
    <li><span class="key">Backspace</span>: <span class="description">Delete value if empty</span></li>
    <li><span class="key">Enter</span>: <span class="description">Add new value</span></li>
    <li><span class="key">Shift</span> + <span class="key">Enter</span>: <span class="description">Delete last value</span></li>
    <li><span class="key">Control</span> + <span class="key">S</span>: <span class="description">Download JSON</span></li>
    <li><span class="key">Control</span> + <span class="key">O</span>: <span class="description">Upload JSON</span></li>
    <li><span class="key">Control</span> + <span class="key">Enter</span>: <span class="description">Start sort</span></li>
</ul>